.display{
    text-align: center;
}
.btns{
    display: inline-flex;
    gap: 24px;
    margin-top: 50px;
}

.result-text{
    font-size: 70px;
    font-weight: bold;
    margin: 0 20px;
    vertical-align: middle;
}
.share-btn{
    background-color: #fff;
}
